#table {
    display: flex;
    justify-content: center;
}

tbody {
    width: 80%;
    text-align: left;
}

tr {
    display: flex;
    justify-content: space-between;
}

.artist {
    width: 20%;
}

.album {
    width: 15%;
}

.title {
    width: 30%;
}

.genre {
    width: 20%;
}

.releaseDate {
    width: 13%;
}

.shading{
    background-color: khaki;
}

th{
text-decoration: underline;
color: blue;

}

h1{
   width: 100% ;
    align-self: center;
    font-family: MyriadPro;
    text-decoration: underline;
}

body{
    text-align: center;
}