#table {
    display: flex;
    justify-content: center;
    border: darkblue;
}

#newTable{
    display: flex;
    justify-content: center;
}

tbody {
    width: 75%;
    text-align: left;
}



tr {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.artist {

    width: 20%
}

.album {
    width: 15%;
}

.title {
    width: 30%;
}

.genre {
    width: 20%;
}

.releaseDate {
    width: 13%;
}

.shading{
    background-color: lightblue;
}

th{
text-decoration: underline;
color: blue;

}

h1{
    position: relative;
    width: 75% ;
    align-self: center;
    font-family: fantasy;
    padding-top: 15px;
    margin-top:25px ;
    margin-bottom: 50px;
    padding-left: 0px;
    border-style:solid;
    border-color: rgb(41, 41, 156);
    border-width: thin;
    
    
}

body{
    text-align: center;
    background: lightgrey;
}


form{
    align-content:center;
}

